{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %}{% endblock %}</title>
    {% block head %}

    {% endblock %}
    <link rel="stylesheet" href="{% static 'admin/main_admin.css' %}"/>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/@phosphor-icons/web@2.1.1/src/bold/style.css"/>
</head>

<body data-bs-theme="dark">
<div class="new-container">
    <div class="sidebar">

        <div class="head">
            <div class="user-img">
                <img src="{% static 'faveicon.ico' %}"
                     alt=""/>
            </div>
            <div class="user-details">
                <p class="title">admin panel</p>
                <p class="name">{{ request.user }}</p>
            </div>
        </div>
        <div class="new-nav">
            <div class="menu">
                <p class="title">Main</p>
                <ul>
                    <li class="{% if request.resolver_match.url_name == 'admin-export-datacollector-list' %} active {% endif %}">
                        <a href="{% url 'admin-export-datacollector-list' %}">
                            <i class="icon ph-bold ph-table"></i>
                            <span class="text">نمایش جدولی</span>
                        </a>
                    </li>
                    <li class=" {% if request.resolver_match.url_name == 'admin-index' %} active {% endif %}">
                        <a href="#" class="">
                            <i class="icon ph-bold ph-chart-line"></i>
                            <span class="text">
                                نمودار ها
                            </span>
                            <i class="arrow ph-bold ph-caret-down"></i>
                        </a>
                        <ul class="sub-menu" {% if request.resolver_match.url_name == 'admin-index' %} style="display: block" {% endif %}>
                            {% for name in attribute_names %}
                                <li class="{% if name in request.path %} active {% endif %}">
                                    <a href="{% url 'admin-index' att=name %}">
                                        <span class="text">{{ name }}</span>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>


                </ul>
            </div>
        </div>
        <div class="menu">
            <p class="title">Account</p>
            <ul>

                <li>
                    <a href="{% url 'admin-logout' %}"><i class="icon ph-bold ph-sign-out"></i><span class="text">Logout</span></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="bootstrap-warper" style="width: 100%;
            padding: 10px;
            flex-grow: 1;
            {#height: 200vh; /* Ensure there's enough content to scroll */#}
            ">
        {% block body %}
        {% endblock %}
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.js"></script>
<script src="{% static 'admin/index_admin.js' %}"></script>
{% block script %}
{% endblock %}
</body>

</html>

{##}
{#<!DOCTYPE html>#}
{#<html>#}
{#<body class="hold-transition sidebar-mini">#}
{#<div class="wrapper">#}
{#    <!-- Main Sidebar Container -->#}
{#    <aside class="main-sidebar sidebar-dark-primary elevation-4">#}
{#        <!-- Brand Logo -->#}
{##}
{#        <!-- Sidebar -->#}
{#        <div class="sidebar" style="direction: ltr">#}
{#            <div style="direction: rtl">#}
{#                <!-- Sidebar user panel (optional) -->#}
{#                <div class="user-panel mt-3 pb-3 mb-3 d-flex">#}
{#                    <div class="image">#}
{#                        https://www.gravatar.com/avatar/52f0fbcbedee04a121cba8dad1174462?s=200&d=mm&r=g#}
{#                        <img src="{% static 'faveicon.ico' %}"#}
{#                             class="img-circle elevation-2" alt="User Image">#}
{#                    </div>#}
{#                    <div class="info">#}
{#                        <a href="#" class="d-block">{{ request.user }}</a>#}
{#                        <a href="{% url 'admin-logout' %}" class="btn btn-danger">logout</a>#}
{#                    </div>#}
{#                </div>#}
{##}
{#                <!-- Sidebar Menu -->#}
{#                <nav class="mt-2">#}
{#                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"#}
{#                        data-accordion="false">#}
{##}
{#                    </ul>#}
{#                </nav>#}
{#                <!-- /.sidebar-menu -->#}
{#            </div>#}
{#        </div>#}
{#        <!-- /.sidebar -->#}
{#    </aside>#}
{##}
