{% extends "base_template.html" %}
{% load static %}
{% load jformat %}
{% block title %}کنترل کیفیت هوا{% endblock %}
{% block head %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
          integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
          crossorigin="" xmlns=""/>
    <link rel="stylesheet" href="https://unpkg.com/persian-datepicker@latest/dist/css/persian-datepicker.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">


{% endblock %}
{% block style %}
    <style>
        .{#@import "https://unpkg.com/open-props" layer(design . system);#}{#@import "https://unpkg.com/open-props/normalize.min.css" layer(demo . support);#} .borderShadow {
            border-radius: 25px;
            box-shadow: rgba(0, 0, 0, 0.25) 0 54px 55px, rgba(0, 0, 0, 0.12) 0 -12px 30px, rgba(0, 0, 0, 0.12) 0 4px 6px,
            rgba(0, 0, 0, 0.17) 0 12px 13px, rgba(0, 0, 0, 0.09) 0 -3px 5px;
        }

        body {
            background: #F8EDE3;
        }

        .nav {
            --bs-nav-link-hover-color: #D0B8A8;
        }

        .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
            background: #D0B8A8;
        }

        .nav-link {

            color: #C5705D;
        }

        #map {
            height: calc(50vw * 3 / 4);
        {#width: 50vw;#} border-radius: 25px;
        }

        .nav-tabs {
            flex: 1 0 auto;
        }

        #myTabContent {
            height: 100%; /* Ensure it uses the full height of its parent */
        }

        .tab-pane {
            height: 100%; /* Ensure tab panes also take full height */
        }

        canvas {
            height: 100% !important; /* Make canvas take the full height */
            width: 100% !important; /* Optionally ensure full width */
        }

        .blue-dot {
            background-color: #0000FF;
            border: 2px solid white;
            border-radius: 50%;
            width: 25px;
            height: 25px;
            display: inline-block;
        }
    </style>
{% endblock %}


{% block body %}
    <form method="GET" action="{% url 'indexView' %}">
        <div class="row m-3">
            <div class="col form-group">
                <label for="start_date" class="form-label">تاریخ شروع:</label>
                <div class="input-group mb-3">
                      <span class="input-group-text">
                        <i class="fa fa-calendar"></i>
                      </span>
                    <input type="text" id="start_date" class="str-date form-control" name="start_date"
                            {% if start_date %}
                           value="{{ start_date | safe }}"
                            {% endif %} autocomplete="off"/>
                </div>

                {#    <input type="date" id="start_date" class="form-control" name="start_date">#}
            </div>
            <div class="col form-group">
                <label for="end_date" class="form-label">تاریخ پایان:</label>
                <div class="input-group mb-3">
                    <span class="input-group-text">
                        <i class="fa fa-calendar"></i>
                    </span>
                    <input type="text" id="end_date" class="end-date form-control" name="end_date"
                            {% if end_date %}

                           value="{{ end_date|safe }}"
                            {% endif %} autocomplete="off"/>
                </div>
            </div>
            {#    <input type="date" id="end_date" class="form-control" name="end_date">#}
        </div>
        <div class="row m-3">
            <div class="col-3">
                <button type="submit" class="btn btn-primary">Filter</button>
            </div>
        </div>
    </form>
    <div class="container">
        <div id="map"></div>
    </div>

    <div class="mt-3">
        <div class="d-flex felx-row ">
            <!-- Tab content column -->
            <div class="flex-column flex-grow-1">
                <div class="tab-content " id="myTabContent">
                    {% for item in all_item %}
                        <div class="tab-pane {% if forloop.first %} show active{% endif %}"
                             id="{{ item }}"
                             role="tabpanel"
                             aria-labelledby="{{ item }}-tab">
                            <div class="{{ item }}" dir="rtl" style="border-radius: 25px;overflow: hidden"></div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <!-- Tab navigation column -->
            <div class="d-flex flex-column px-2 py-3" id="tabs_container"
                 style="background: #DFD3C3;border-radius: 25px">
                <ul class="nav nav-pills flex-column align-items-stretch justify-content-center w-100" id="myTab"
                    role="tablist">
                    {% for item in all_item %}
                        <li class="nav-item w-100" role="presentation">
                            <button class="nav-link w-100 text-center {% if forloop.first %} active {% endif %} "
                                    style="border-radius: 12.5px"
                                    id="{{ item }}-tab"
                                    data-bs-toggle="tab"
                                    data-bs-target="#{{ item }}"
                                    type="button" role="tab"
                                    aria-controls="{{ item }}"
                                    aria-selected="{% if forloop.first %}true{% else %}false{% endif %}">
                                {{ item }}
                            </button>
                        </li>
                    {% endfor %}
                </ul>
            </div>

        </div>
    </div>


    {#        <ul>#}
    {#            {% for item in all_item %}#}
    {#                <li class="list-group-item">#}
    {#                    <div class="chartWrapper">#}
    {#                        <div class="chartAreaWrapper">#}
    {##}
    {#                            <canvas class="{{ item }}" dir="rtl"></canvas>#}
    {#                        </div>#}
    {#                    </div>#}
    {#                    <div class="axis">#}
    {#                        <span class="testCanvas"></span>#}
    {#                    </div>#}
    {#                </li>#}
    {#            {% endfor %}#}
    {#        </ul>#}
{% endblock %}
{% block script %}
    <script src="https://unpkg.com/persian-date@latest/dist/persian-date.js"></script>
    <script src="https://unpkg.com/persian-datepicker@latest/dist/js/persian-datepicker.js"></script>
    {# leaflet script #}
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            crossorigin=""></script>
    {#    https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom#}
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.5.1/dist/echarts.min.js"></script>
    {#    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>#}
    {#    <script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8"></script>#}
    {#    <script src="{% static 'node_modules/chartjs-plugin-zoom/dist/chartjs-plugin-zoom.min.js' %}"></script>#}
    {#    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom"></script>#}
    {# map initialization #}
    <script>
        // Initialize the map
        const map = L.map('map').setView([34.800593, 48.522637], 13);
        var Stadia_StamenWatercolor = L.tileLayer('https://tiles.stadiamaps.com/tiles/stamen_watercolor/{z}/{x}/{y}.{ext}?api_key=2b1605ea-6f85-4e4b-a481-b9cff883af78', {
            api: '2b1605ea-6f85-4e4b-a481-b9cff883af78',
            minZoom: 1,
            maxZoom: 16,
            {#attribution: '&copy; <a href="https://www.stadiamaps.com/" target="_blank">Stadia Maps</a> &copy; <a href="https://www.stamen.com/" target="_blank">Stamen Design</a> &copy; <a href="https://openmaptiles.org/" target="_blank">OpenMapTiles</a> &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',#}
            ext: 'jpg'
        }).addTo(map);

        var Stadia_StamenTonerLines = L.tileLayer('https://tiles.stadiamaps.com/tiles/stamen_toner_lines/{z}/{x}/{y}{r}.{ext}?api_key=2b1605ea-6f85-4e4b-a481-b9cff883af78', {
            minZoom: 0,
            maxZoom: 20,
            {#attribution: '&copy; <a href="https://www.stadiamaps.com/" target="_blank">Stadia Maps</a> &copy; <a href="https://www.stamen.com/" target="_blank">Stamen Design</a> &copy; <a href="https://openmaptiles.org/" target="_blank">OpenMapTiles</a> &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',#}
            ext: 'png'
        }).addTo(map);
        var CartoDB_VoyagerOnlyLabels = L.tileLayer('https://{s}.basemaps.cartocdn.com/rastertiles/voyager_only_labels/{z}/{x}/{y}{r}.png', {
            {#attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors &copy; <a href="https://carto.com/attributions">CARTO</a>',#}
            subdomains: 'abcd',
            maxZoom: 20
        }).addTo(map);


        // Add a tile layer to the map (OpenStreetMap)
        {#L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Street_Map/MapServer/tile/{z}/{y}/{x}', {#}
        {#    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'#}
        //}).addTo(map);

        // Define the data points
        const points = [
            {% for item in data %}
                {
                    "lat": {{item.Lat}}, "lon": {{item.Lng}}, "data": `
                        <b>Average Values of Nearest Neighbors:</b><br>
                        Humidity: {{item.Humidity}}<br>
                        Temperature: {{item.Temperature}}<br>
                        CO: {{item.CO}}<br>
                        H2: {{item.H2}}<br>
                        LPG: {{item.LPG}}<br>
                        CH4: {{item.CH4}}<br>
                        NOx: {{item.NOx}}<br>
                        CL2: {{item.CL2}}<br>
                        Alcohol: {{item.Alchohol}}<br>
                        CO2: {{item.CO2}}<br>
                        Toluene: {{item.Toluen}}<br>
                        NH4: {{item.NH4}}<br>
                        Acetone: {{item.Aceton}}<br>
                        PM1.0: {{item.PM1_0}}<br>
                        PM2.5: {{item.PM2_5}}<br>
                        PM10: {{item.PM10}}
                    `
                },

            {% endfor %}
        ];
        let lastMarker = null;
        let userMarker = null;
        const blueDotIcon = L.divIcon({
            className: 'blue-dot',
            iconSize: [100, 100]
        });
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                const userLat = position.coords.latitude;
                const userLng = position.coords.longitude;

                // Center the map on the user's location
                map.setView([userLat, userLng], 13);

                // Add a marker for the user's location
                userMarker = L.marker([userLat, userLng], {icon: blueDotIcon}).addTo(map);
                {#userMarker.bindPopup("You are here!").openPopup();#}
            });
            var userLat = null;
            var userLng = null;
            // Watch the user's location and update it in real-time
            navigator.geolocation.watchPosition(function (position) {
                userLat = position.coords.latitude;
                userLng = position.coords.longitude;

                if (userMarker) {
                    map.removeLayer(userMarker);
                }

                userMarker = L.marker([userLat, userLng], {icon: blueDotIcon}).addTo(map);
                {#userMarker.bindPopup("You are here!").openPopup();#}

                // Optionally, recenter the map on the user's location
                {#map.setView([userLat, userLng]);#}
            });
        } else {
            alert("Geolocation is not supported by this browser.");
        }

        function centerMap() {
            if (userLat !== undefined && userLng !== undefined) {
                map.setView([userLat, userLng], 13);
                {#alert("hi")#}
            } else {

                alert("User location is not available.");
            }
            {#alert("hi")#}
        }

        var CenterControl = L.Control.extend({
            options: {
                position: 'bottomleft' // 'topleft', 'topright', 'bottomleft', 'bottomright'
            },
            onAdd: function (map) {
                {#var container = L.DomUtil.create('div', 'leaflet-bar');#}
                //var button = L.DomUtil.create('button', '', container);
                //button.innerHTML = 'Center on User';
                //L.DomEvent.on(button, 'click', function (e) {
                //   L.DomEvent.stopPropagation(e);
                //  centerMap()
                //});
                {#return container;#}
            }
        });
        {#map.addControl(new CenterControl());#}


        /*
        var circle = L.circle([34.790931, 48.487411], {
            color: 'red',
            fillColor: '#f03',
            fillOpacity: 0.5,
            radius: 600
        }).addTo(map)
        circle.bindPopup("دانشگاه بوعلی");
    */
        map.on('click', function (e) {
            let lat = e.latlng.lat;
            let lng = e.latlng.lng;

            // Make AJAX request
            $.ajax({
                url: '{% url "get_latest_data" %}',  // Replace with your Django view URL
                method: 'POST',
                data: JSON.stringify({lat: lat, lng: lng}),
                contentType: 'application/json',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'  // Include CSRF token for Django
                },
                success: function (response) {
                    console.log('Success:', response);
                    var popupContent = `
                        <b>Average Values of Nearest Neighbors:</b><br>
                        Humidity: ${response.Humidity}<br>
                        Temperature: ${response.Temperature}<br>
                        CO: ${response.CO}<br>
                        H2: ${response.H2}<br>
                        LPG: ${response.LPG}<br>
                        CH4: ${response.CH4}<br>
                        NOx: ${response.NOx}<br>
                        CL2: ${response.CL2}<br>
                        Alchohol: ${response.Alchohol}<br>
                        CO2: ${response.CO2}<br>
                        Toluen: ${response.Toluen}<br>
                        NH4: ${response.NH4}<br>
                        Aceton: ${response.Aceton}<br>
                        PM1.0: ${response.PM1_0}<br>
                        PM2.5: ${response.PM2_5}<br>
                        PM10: ${response.PM10}
                    `;
                    if (lastMarker) {
                        map.removeLayer(lastMarker);
                    }

                    lastMarker = L.marker([lat, lng]).addTo(map);

                    lastMarker.bindPopup(popupContent).openPopup();
                    // Do something with the response if needed
                },
                error: function (error) {
                    console.error('Error:', error);
                }
            });
        });
        pp = [{% for i in data %}['{{ i.Lat }}','{{i.Lng}}'],{% endfor %}]
        var polyLine = L.polyline(pp).addTo(map)
        // Add points to the map
        points.forEach(function (point) {
            var marker = L.marker([point.lat, point.lon]).addTo(map);
            marker.bindPopup(point.data);
        });
    </script>
    <script src="{% static 'js/vintage.js' %}"></script>

    <script>
        let tab = document.getElementById("tabs_container")
        const col_9 = document.getElementById("myTabContent")
        const tab_height = tab.offsetHeight
        const tab_width = col_9.offsetWidth
        {% for att in all_item %}
            document.getElementsByClassName('{{ att|safe }}')[0].style.height = tab_height + "px"
            document.getElementsByClassName('{{ att|safe }}')[0].style.width = tab_width + "px"

            {#<!-- chart of {{ att }} -->#}
            const {{ att|safe }} = echarts.init(document.getElementsByClassName("{{ att }}")[0], 'vintage');

            {#echarts.init({{ att|safe }})#}
            let options{{ att|safe }} = {
                title: {
                    text: '{{att|safe}}',
                    right: '1%'
                },
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'line',
                        snap: true,
                        axis: 'x',
                        label: {
                            show: true,
                            formatter: function (value) {
                                {#console.log(value)#}
                                return value.value.split(',').join('\n'); // Ensure correct handling of newline characters
                            },

                        },
                        crossStyle: {
                            color: '#999'
                        },

                    }
                },
                toolbox: {
                    left: 10,

                    feature: {
                        dataZoom: {
                            yAxisIndex: 'none'
                        },
                        restore: {},
                        saveAsImage: {},
                        {#dataView:{}#}
                    }
                },
                grid: {
                    left: '5%',
                    {% if att == "aqi" %}
                        right: '15%',
                    {% else %}
                        right: '5%',
                    {% endif %}
                    bottom: '10%'
                },
                xAxis: {
                    {#inverse:true,#}
                    data: [{% for item in data %}[
                        "{{ item.created_at|jformat:"%A" }},{{ item.created_at|jformat:"%d %B" }},{{ item.created_at|jformat:"%H:%M" }}",
                        ], {% endfor %}],
                    axisLabel: {
                        formatter: function (value, index) {
                            {#console.log("fuck")#}
                            return value.split(',').join('\n'); // Ensure correct handling of newline characters
                        },
                        textStyle: {
                            align: 'center' // Center-align the text
                        }
                    },
                },
                yAxis: {
                    type: 'value',
                    name: '{{att}}',
                    position: 'left',
                    alignTicks: true,
                    axisLine: {
                        show: true,
                        lineStyle: {
                            color: "#EE6666"
                        }
                    },
                    axisLabel: {
                        formatter: '{value}'
                    },

                },
                dataZoom: [
                    {
                        start: 60,

                        type: "inside",
                        minSpan: 20,
                        orient: 'horizontal',
                        zoomOnMouseWheel: 'ctrl',
                        moveOnMouseWheel: true
                        {#startValue: '2014-06-01'#}
                    },
                    //{
                    {#type: 'inside'#}
                    //}
                ],
                {% if att == "aqi" %}
                    visualMap: {
                        top: 50,
                        right: 10,
                        pieces: [
                            {
                                gt: 0,
                                lte: 50,
                                color: '#93CE07'
                            },
                            {
                                gt: 50,
                                lte: 100,
                                color: '#FBDB0F'
                            },
                            {
                                gt: 100,
                                lte: 150,
                                color: '#FC7D02'
                            },
                            {
                                gt: 150,
                                lte: 200,
                                color: '#FD0100'
                            },
                            {
                                gt: 200,
                                lte: 300,
                                color: '#AA069F'
                            },
                            {
                                gt: 300,
                                color: '#AC3B2A'
                            }
                        ],
                        outOfRange: {
                            color: '#999'
                        }
                    },
                {% endif %}
                series: {
                    name: "{{ att }}",

                    type: 'line',
                    data: [{% for key,val in processed_data.items %}{% if key == att %}{% for i in val %}{% if i == None %}0{% else %}{{ i|safe }}{% endif %}, {% endfor %}{% endif %}{% endfor %}],
                    {% if att == "aqi" %}
                        markLine: {
                            silent: true,
                            lineStyle: {
                                color: '#333'
                            },
                            data: [
                                {
                                    yAxis: 50
                                },
                                {
                                    yAxis: 100
                                },
                                {
                                    yAxis: 150
                                },
                                {
                                    yAxis: 200
                                },
                                {
                                    yAxis: 300
                                }
                            ]
                        }

                    {% endif %}
                }
            };
            {{ att|safe }}.setOption(options{{ att|safe }})
            {#echarts.init(options{{ att|safe }})#}

            {#console.log({{ att|safe }}[0])#}
            {#            {{ att|safe }}.#}


            {#console.log({{ start_date }})#}
        {% endfor %}
    </script>
    <script type="text/javascript">
        function persianToLatinNumbers(input) {
            const persianNumbers = ['۰', '۱', '۲', '۳', '۴', '۵', '۶', '۷', '۸', '۹'];
            const latinNumbers = ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9'];

            let output = input;
            for (let i = 0; i < 10; i++) {
                const regex = new RegExp(persianNumbers[i], 'g');
                output = output.replace(regex, latinNumbers[i]);
            }
            return output;
        }

        var to, from;
        $(document).ready(function () {
            to = $(".end-date").pDatepicker({
                {#inline: true,#}
                initialValueType: 'persian',
                initialValue: false,
                altField: ".end-date",
                altFormat: 'YYYY/MM/DD HH:MM',
                autoClose: true,
                format: "YYYY/MM/DD HH:MM",
                timePicker: {
                    enabled: true,
                    meridiem: {
                        enabled: true
                    }
                },
                formatter: function (unixDate) {
                    var date = new persianDate(unixDate);
                    return persianToLatinNumbers(date.format('YYYY/MM/DD HH:mm'));
                },
                onSelect: function (unix) {
                    from.touched = true;
                    if (to && to.options && to.options.minDate != unix) {
                        var cachedValue = to.getState().selected.unixDate;
                        to.options = {minDate: unix};
                        if (to.touched) {
                            to.setDate(cachedValue);
                        }
                    }
                }

            });
            from = $(".str-date").pDatepicker({
                initialValueType: 'persian',
                altField: '.str-date',
                altFormat: 'YYYY/MM/DD HH:MM',
                initialValue: false,
                onSelect: function (unix) {
                    to.touched = true;
                    if (from && from.options && from.options.maxDate != unix) {
                        var cachedValue = from.getState().selected.unixDate;
                        from.options = {maxDate: unix};
                        if (from.touched) {
                            from.setDate(cachedValue);
                        }
                    }
                },
                formatter: function (unixDate) {
                    var date = new persianDate(unixDate);
                    return persianToLatinNumbers(date.format('YYYY/MM/DD HH:mm'));
                },
                autoClose: true,
                format: "YYYY/MM/DD HH:MM",
                timePicker: {
                    enabled: true,
                    meridiem: {
                        enabled: true
                    }
                },
            });
        });
    </script>
{% endblock %}